.category-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

@keyframes soundWave {
  0% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.3);
  }
}

.listening svg {
  animation: pulse 1.5s infinite;
}

/* Add sound wave bars */
.sound-wave {
  display: none;
  align-items: center;
  gap: 2px;
  height: 14px;
  margin-left: 15px;
}

.sound-wave-bar {
  width: 2px;
  height: 100%;
  background-color: #3b82f6;
  border-radius: 2px;
  animation: soundWave 1s ease-in-out infinite;
}

/* Animation delays for 14 bars */
.sound-wave-bar:nth-child(1) {
  animation-delay: 0s;
}
.sound-wave-bar:nth-child(2) {
  animation-delay: 0.07s;
}
.sound-wave-bar:nth-child(3) {
  animation-delay: 0.14s;
}
.sound-wave-bar:nth-child(4) {
  animation-delay: 0.21s;
}
.sound-wave-bar:nth-child(5) {
  animation-delay: 0.28s;
}
.sound-wave-bar:nth-child(6) {
  animation-delay: 0.35s;
}
.sound-wave-bar:nth-child(7) {
  animation-delay: 0.42s;
}
.sound-wave-bar:nth-child(8) {
  animation-delay: 0.49s;
}
.sound-wave-bar:nth-child(9) {
  animation-delay: 0.56s;
}
.sound-wave-bar:nth-child(10) {
  animation-delay: 0.63s;
}
.sound-wave-bar:nth-child(11) {
  animation-delay: 0.7s;
}
.sound-wave-bar:nth-child(12) {
  animation-delay: 0.77s;
}
.sound-wave-bar:nth-child(13) {
  animation-delay: 0.84s;
}
.sound-wave-bar:nth-child(14) {
  animation-delay: 0.91s;
}

@media (min-width: 535px) {
  .xs\:mt-20 {
    margin-top: 5rem; /* This is equivalent to mt-20 in Tailwind */
  }
}
